APP_ENV=production
APP_INSTALLED=false
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Africa/Lagos
APP_SESSION_SECURE=true
APP_SHOW_SAMPLE_ACCOUNTS=false

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=your_database_name
DB_USERNAME=your_database_user
DB_PASSWORD=your_database_password
DB_CHARSET=utf8mb4
DB_SOCKET=
